.topmenu_container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    padding: 10px;
}

.topmenu_link{
    font-size: 15px;
    text-decoration: none;
}

.topmenu_button_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button{
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.button:hover{
    transform: translateY(0.3em);
    background-color: black;
    .buttonLineStyled{
        transform: scaleX(11em);
        animation: LineAnimated 0.3s ease forwards;
    }
    
}


.img_logo{
    transform: scale(0.6);
}

.buttonLineStyled{
    width: 10px;
    height: 2px;
    background-color: red;
}


@keyframes LineAnimated {
    0%{
        transform: scaleX(2);
    }

    50%{
        transform: scaleX(3)
    }

    100%{
        transform: scaleX(4);
    }
}
