.topmenu_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px;
    position: relative;
    min-width: 1200px;

}

@media (max-width: 1200px) {
    .topmenu_container{
        width: 100%;
        min-width: 0px;
    }
}

.topmenu_link{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    
    
}

.topmenu_link:hover {
    .buttonLineStyled{
        visibility: visible;
        transform: scaleX(5);
    }
}

.topmenu_button_container{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3px;
}

.button{
    padding: 10px;
    border-radius: 7px;
    
}

.button_container_topmenu:hover{
    transform: translateY(0.2em);
}

.button_container_topmenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}


.img_logo{
    height: 40px;
}

.img_logo_container{
    display: flex;
    justify-content: start;
    align-items: center;
}

.buttonLineStyled{
    visibility: hidden;
    width: 3px;
    height: 2px;
    background-color: red;
    transition: all 0.3s ease-in-out ;
}


@keyframes LineAnimated {
    0%{
        transform: scaleX(1);
    }

    50%{
        transform: scaleX(2)
    }

    100%{
        transform: scaleX(3);
    }
}
