.topmenu_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px;
    position: relative;
    min-width: 1200px;

}

@media (max-width: 1200px) {
    .topmenu_container{
        width: 100%;
        min-width: 0px;
    }
}

.topmenu_link{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.topmenu_button_container{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.button{
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.button:hover{
    transform: translateY(0.3em);
    background-color: black;
    .buttonLineStyled{
        transform: scaleX(11em);
        animation: LineAnimated 0.3s ease forwards;
    }
    
}


.img_logo{
    height: 40px;
}

.img_logo_container{
    display: flex;
    justify-content: start;
    align-items: center;
}

.buttonLineStyled{
    width: 10px;
    height: 2px;
    background-color: red;
}


@keyframes LineAnimated {
    0%{
        transform: scaleX(2);
    }

    50%{
        transform: scaleX(3)
    }

    100%{
        transform: scaleX(4);
    }
}
