#footerContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    padding: 20px 10px 10px 20px;
    font-weight: 500;
}

.footerCopyRight {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}
