.tmplt_main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .footer{
        width: 100%;
    }

    .header{
        width: 100%;
    }

    .main{
        width: 100%
    }
}