#root,
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: Roboto;
  overflow: hidden;
  top: 0;
  left:0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer{
  width: 100%;
  background-color: #1e272e;
  color: rgba(255, 255, 255, .5);
  font-size: 12px;
  min-width: 230px;
}
